html,body{
	height: 100%;
}
.navbar{
	margin-bottom: 0px;
}
.mainContainer{
	width:calc(100% - 200px);
	height:100%;
	display: inline-block;
	margin-top:80px;
}
.sideContainer{
	width:200px;
	height:100%;
	border-left: 1px solid black;
	display: inline-block;
	float:right;
	position: fixed;
	top: 51px;
}
#file-upload{
	border:1px dotted #ccc;
	width:170px;
	height:150px;
	margin:auto;
	margin-top:10px;
}
.thumbnail{
	height:200px;
	width:220px;
	margin:20px;
}
.crop {
	height: 188px;
	width: 210px;
	overflow: hidden;
	list-style-type: none
}